*.pyc
**/install/
**/build/
**/log/

Module_Tests/Segmentation/YOLO26/mobileclip2_b.ts
Module_Tests/Segmentation/YOLO26/yolo26n-seg.pt
Module_Tests/Segmentation/YOLO26/yoloe-26l-seg.pt
Module_Tests/Segmentation/YOLO26/Yolo_Output
Module_Tests/Segmentation/YOLO26/bus.jpg
Module_Tests/Test_Outputs


