*.pyc
**/install/
**/build/
**/log/
Yolo26_Segmentation/yolo26n-seg.pt
Yolo26_Segmentation/yolo26l-seg.pt
Yolo26_Segmentation/mobileclip2_b.ts
Agentic-Robot
NotWorking_Hand_Pressure_Test3.py
Realhand/Tests_Realhand/PressureState_JointState_Time_Plot_Test3_Output
Realhand/Tests_Realhand